* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
}

.canvas-container {
  height: 100vh !important;
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  background: #151515;
}
